<body class="body-component">    
    
        <h2>NUEVA JAM</h2>
        <section>
            <form>                
                    <mat-form-field>
                        <mat-label>Nombre Jam</mat-label>
                        <input matInput [(ngModel)]="nombre" type="text">    
                    </mat-form-field>                    
            </form>
            <form class="form-fecha">   
                    <mat-form-field>
                        <mat-label>Dia de la Jam Session</mat-label>
                        <input matInput [matDatepicker]="datepicker" [(ngModel)]="fecha">
                        <mat-datepicker #datepicker/>
                        <mat-datepicker-toggle [for]="datepicker" matSuffix/>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Hora de la Jam Session</mat-label>
                        <input matInput
                            [matTimepicker]="timepicker"
                            [(ngModel)]="fecha"
                            [ngModelOptions]="{updateOn: 'blur'}">
                        <mat-timepicker #timepicker/>
                        <mat-timepicker-toggle [for]="timepicker" matSuffix/>
                    </mat-form-field>
            </form>        
    </section>
    <section>
        <div>
            <form>
                <mat-form-field>
                    <mat-label>Introduzca la dirección</mat-label>
                    <input matInput [(ngModel)]="direccion" placeholder="(Ej: Calle Gran Vía 1, Madrid)"/>
                </mat-form-field>
                <button matButton (click)="busqueda.set(direccion())" [disabled]="!direccion()">Buscar Dirección</button>
            </form>                    
            <!-- Dirección Seleccionada y Botón de Mapa -->
            @if (busqueda()) {
                <div>
                    <p class="font-semibold text-green-800">Dirección seleccionada:</p>
                    <p class="text-lg text-green-700">{{ busqueda() }}</p>
                </div>
            }
        </div>
        <!-- Mapa de Google Maps (Iframe) -->
        @if (mapUrl()) {
            <div>
                <h2>Ubicación en Google Maps</h2>
                <iframe 
                    [src]="mapUrl()"                             
                    style="height: 500px; border: 0;"
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"
                    title="Mapa de Google Maps de la dirección seleccionada">
                </iframe>
            </div>
        }
    </section>
    @if (ok){
        <p  style="color:var(--mat-sys-primary); font-weight: bolder;">{{mensaje}}</p>
    } @else {
        <p  style="color:red; font-weight: bolder;">{{mensaje}}</p>
    }
    <button matButton (click)="creaJam()" class="btn-crear" title="Crear">CREAR JAM</button>
        


</body>