
.body-component{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100% ;
  padding-bottom: 15vh;
}

.options{
  display: flex;
  gap: 10px;
  font-size: small; 
}

section{
  width: 80vw; 
  height: 75%;

}


.boton-nuevaJam, .boton-listaCanciones{
  border: 1px solid;
}

h4{
  justify-self: center;
}

ul{
  list-style-type: none;
  padding:0;
  gap: 3px;
}


li{
  display: flex;
  justify-content: space-between;
}
li:hover{
  border: 1px solid var(--mat-sys-primary);
  border-radius: 20px;
}



