.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  padding: 20px;
  background-color: black;
  border-radius: 10px;
}

.body-component{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100% ;
  padding-bottom: 15vh;
}

section{
  margin-left: 5%;
  margin-right: 5%;
  height: 75%;

}

.boton-nuevaJam{
  border: 1px solid; 
}

ul{
 padding:0;
}


.jam-row{
  border: white solid 1px;
}

@media (min-width: 768px){
  .body-component{
    max-width: 100%;
    
    
  }
  
}