
<body class="body-component">  
  <h2>JAMS DISPONIBLES</h2>
  
  <section>
    <button matButton="elevated" [routerLink]="['/jamController/nuevaJam']" class="boton-nuevaJam">Crear Nueva Jam</button>
    <ul>
        @for(jam of jams$ |async; track jam._id){
            
            <div class="jam-row">
                <button matButton="elevated" [routerLink]="['/jamController/jam', jam._id]">
                    {{jam.nombre}}
                </button>
                
                @if (jam.activated) {
                    <button matButton="elevated" (click)="switchJam(jam._id, jam.activated)">Desactivar</button>
                }@else {
                    <button matButton="elevated" (click)="switchJam(jam._id, jam.activated)">Activar</button>
                }
                <button matButton="elevated" (click)="abrirModal(jam.nombre, jam._id)">Borrar</button>
            </div>
        }
        
    </ul>
  </section>
</body>




@if (ventanaModal) {
  <div class="overlay">
    <div class="modal">
      <p>¿Seguro que quieres borrar la Jam "{{nombreBorrar}}"?<br> (Si pulsa en "Confirmar", perderá todos los datos relacionados con esta Jam)</p>
      <div >
        <button (click)="borrarJam()">Confirmar</button>
        <button (click)="cerrarModal()">Cancelar</button>
      </div>
    </div>
  </div>
}