
.body-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
form{
    display: flex;
    flex-direction: column;
}

.mat-mdc-form-field:hover mat-label, .mat-mdc-form-field:hover input{
    color: var(--mat-sys-on-primary);
}

.mat-mdc-form-field input:focus{
    color: var(--mat-sys-on-background);
}


.boton-hidden{
    border:none;
    color: var(--mat-sys-on-primary);
}

.boton-login{
    border: 1px solid;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-primary);
    height: 40px;
    font-weight: bolder; 
}
.boton-login:hover{
    color: var(--mat-sys-on-primary);
    background-color: var(--mat-sys-primary);
}