.body-component{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 50%;
}

h1{
    margin-bottom: 20px;
}


