
.body-component{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
    padding-right: 5%;
    padding-left: 5%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    

}

.boton-movil{
    color: var(--mat-sys-primary);
    background-color: var(--mat-sys-surface);
    border: none;
    padding: 5px 0px 0px 0px ;
    margin: 0;
}
.icono-boton{
    font-size: 40px;
    height: 40px;
    width: 40px;

}

.app-logo{
    width: 60px;
    height: 60px;
    padding-top: 5px;
}

