   <body class="body-component">

        <a [routerLink]="['/']" title="Ir a Inicio">            
            <img src="assets/JamSessionsApp.png" alt="Logotipo-JamSessionsApp" class="app-logo">
        </a>

       <nav class="nav-menu">
           @if (isMobile$ | async){
       
               <button class="boton-movil"  [matMenuTriggerFor]="menu" aria-label="Menu desplegable">
                   <mat-icon class="icono-boton">reorder</mat-icon>
               </button>
               <mat-menu #menu="matMenu" style="display: flex; flex-direction: column;">
                   <button mat-menu-item [routerLink]="['/']">
                       <mat-icon>home</mat-icon>
                       <span>Inicio</span>
                   </button>
                   @if (auth$ | async) {
                       <button mat-menu-item [routerLink]="['/jamController']">
                           <mat-icon>settings</mat-icon>
                           <span>Panel de Control</span>
                       </button>
                       <button matButton [routerLink]="['/jamController']" >
                           <mat-icon>account_circle</mat-icon>
                           <span>Cuenta</span>
                       </button>
                       <button matButton (click)="logOut()" >
                           <mat-icon>exit_to_app</mat-icon>
                           <span>LogOut</span>
                       </button>
       
                   }@else {
                       <button matButton [routerLink]="['/login']" >
                           <mat-icon>exit_to_app</mat-icon>
                           <span>LogIn</span>
                       </button>
                   }                   
               </mat-menu>
       
           }
       
           @if ((isMobile$ |async)===false){
       
                   <button matButton [routerLink]="['/']" id="boton-inicio" title="Inicio">Inicio</button>
                   @if (auth$ | async) {
                       <button matButton [routerLink]="['/jamController']" id="boton-control" title="Panel Control">Panel de Control</button>
                       <button matButton [routerLink]="['/jamController']" id="boton-cuenta" title="Cuenta">Cuenta</button>
                       <button matButton (click)="logOut()" id="boton-logout" title="LogOut">LogOut</button>
       
                   }@else {
                       <button matButton [routerLink]="['/login']" id="boton-login" title="LogIn">LogIn</button>
                   }
       
           }
       </nav>
   </body>










