


.body-component{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px 15vh 0px;
    
}

.app-logo{
    width: 300px;
    height: 300px;
}



.container{
    text-align: center;
    max-width: 80%;
    gap:70px;
    justify-content: space-around;
    align-items: center;
    height: 75%;

}

.titulo{
    align-content: center;
    font-weight: bold ;
    font-size: x-large;

}



.card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px){
    .app-logo{
        width: 600px;
        height: 600px;
    }
    .card-container{
        min-width: 500px;

    }
}





