
@import "./custom-theme.scss";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface); 
    font-family: Oswald;
}



button{
    border-radius: 20px !important;    
}

button:hover{
    color: var(--mat-sys-on-primary) !important;
}

button.btn-important{
    color:var(--mat-sys-on-primary) !important;
    background-color: var(--mat-sys-primary) !important;
}

