
.body-component{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15vh;    
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}


form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

mat-form-field{
    width: 240px;
    height: 80px;
    margin-right: 10px;
}

.mat-mdc-form-field:hover mat-label, .mat-mdc-form-field:hover input{
    color: var(--mat-sys-on-primary);
}

.mat-mdc-form-field input:focus{
    color: var(--mat-sys-on-background);
}

ul{
  list-style-type: none;
}

div.botonera-buscar button{
    background-color: var(--mat-sys-surface) ;
    color: var(--mat-sys-primary) ;
    border: none ;
    font-weight: bolder ;
    height: 30px ;
    font-family: Oswald ;
    cursor: pointer ;
}
div.botonera-buscar button:hover{
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
}

.btn-crear, .btn-guardar{
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    border: none;
    height: 40px;
    width: 100px;
    font-family: Oswald;
    font-weight: bolder; 
    cursor: pointer;

}
