.body-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15vh;
}

h2{
    text-transform: uppercase;
    margin-left: 20px;
}



.content{
    width: 80vw;
}